asgiref==3.2.10
Django==3.0.7
django-filter==2.3.0
mysql-connector-python==8.0.20
mysqlclient==2.0.1
Pillow==7.2.0
plyer==2.0.0
protobuf==3.12.2
pypiwin32==223
pytz==2020.1
pywin32==300
six==1.15.0
sqlparse==0.3.1

