{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/new/order.css' %}">
    <link rel="stylesheet" href="{% static 'css/new/sidebar.css' %}">

    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
   
     
    <style>
        header nav {
            background: url(/static/images/bg_4.jpg);
            background-size: cover;
            background-position: center;
            height: 11vh;
        }

        .footer {
            background: black;
            text-align: center;
        }

        .footer p {
            display: inline;
            color: #fff;
            font-weight: bold;
            line-height: 5px;
            font-size: 15px;
        }

        .footer a {
            text-decoration: none;
            color: grey;
            transition: 0.6s;
            transition-property: color;
        }
        .footer a:hover {
            color: #fff;
        }

        .footer i {
            padding: 5px;
        }

        .hide {
            display: none;
        }

    </style>
    
</head>
<body>
    <input type="checkbox" id="check" checked="checked">
    <!--Header area start-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="ftco-navbar">
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
            <div class="left_area">
                <h3><a class="navbar-brand" href="/">
                    <span class="flaticon-pizza-1 mr-1" style="color: #f1c40f;"></span>Pepperonizza<br>         
                    <small style="color: #1DC4E7; font-size: 10px; margin-left: 55px;">D e l i c i o u s</small>
                </a></h3>
            </div>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="/logout/" class="logout_btn">Logout</a></li>
                
                {% endif %}
            </ul>
            
        </nav>
    </header>
   
    <!--Header area End-->
    <!--Sidebar area start-->
    <div class="sidebar">
        <div class="profile_info">
            {% if user.is_authenticated %}
            <img src="{{customer.profile_pic.url}}" class="profile_image" alt="">
            <h4>Hi, {{user.first_name}}</h4>
            {% endif %}
        </div>
        <a href="/" title="Home"><i class="fas fa-desktop"></i><span>Home</span></a>
        <a href="/menu/" title="Menu"><i class="fas fa-pizza-slice"></i><span>Our Menu</span></a>
        <a href="/myorders/" title="My Orders"><i class="fas fa-receipt"></i><span>My Orders</span></a>
        <a href="/blog/" title="Blog"><i class="fab fa-blogger"></i><span>Blog</span></a>
        <a href="/about/" title="About"><i class="fas fa-info-circle"></i><span>About</span></a>
        <a href="/contact/" title="Feedback"><i class="fas fa-comment-alt"></i><span>Feedback</span></a>
        <a href="/terms/" title="Terms"><i class="fas fa-file-alt"></i><span>Terms & Conditions</span></a>
        <a href="/faq/" title="FAQ"><i class="fas fa-comment-dots"></i><span>FAQ</span></a>
        {% if user.is_authenticated %}
            <a href="/logout/" title="Log out"><i class="fas fa-power-off"></i><span>Logout</span></a>
        {% endif %}
    </div>
    <!--Sidebar area End-->

    <div class="full_view">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong><i class="fa fa-check" style="color: #27ae60;"></i> {{message}} </strong>
            </div>
        {% endfor %}
    {% endif %}

    <div class="border">
        <h2 style="text-align: center; color: #fff; font-weight: bold;">Your Orders</h2>
    </div>
    <div class="box1">
        {% if orders %}
        <div class="pull-right">
            <button type="button" class="btn btn-outline-dark btn-xs" title="Filter" onclick="show()" ondblclick="hide()"><i class="fa fa-filter" style="color: lightgrey;"></i></button>
        </div>
        {% endif %}
        
        <div class="hide" id="hide1">
        <!--<div class="alert alert-light" role="alert">-->
            <div class="row">
                <div class="col">
                    <div class="card card-body">
                        <form method="get">
                            <center><table>
                            {{tableFilter.form}}
                            </table>
                            <button class="btn btn-primary" style="width: 90px; height: 40px;" type="submit"><i class="fa fa-search"></i></button>
                            <!--<button type="button" class="close" onclick="hide()" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>-->
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        <!--</div>-->
        </div>
        
    </div><br /><br />
    

    <div class="container bootdey">
    <div class="panel panel-default panel-order">
    <div class="panel-body">
    {% if not orders %}
        <div>
            
            <p style="text-align: center; font-size: 20px;">You haven't order anything yet.</p>
            <br><br><br><br><br><br><br><br><br><br>
        </div>
    {% else %}
        
        {% for order in orders %}
            <div class="row">
                <div class="col-md-1"><img src="{{order.item.img.url}}" class="media-object img-thumbnail"></div>
                    <div class="col-md-11">
                        <div class="row">
                        <div class="col-md-12">
                            {% if order.status == 'd' %}
                                <div class="pull-right"><label class="badge badge-pill badge-danger">Decline</label> </div>
                            {% elif order.status == 'You cancelled the order' %}
                                <div class="pull-right"><label class="badge badge-pill badge-warning">You cancelled the order</label> </div>
                            {% elif order.status == 'a' %}
                                <div class="pull-right"><label class="badge badge-pill badge-success">Accepted</label> </div>
                            {% else %}
                                <div class="pull-right"><label class="badge badge-pill badge-info">Pending</label> </div>
                            {% endif %}
                            <span><strong>Order no and name</strong></span> <span class="badge badge-pill badge-primary">#{{order.id}}: {{order.item.name}}</span><br><!--using orderid show view-->
                            Quantity : {{order.item.quantity}}, Total Price: &#8377;{{order.item.total_price}} <br> E-mail: {{order.email}}, Phone no.: {{order.phoneno}} <br> Address : {{order.address}} <br>
                            <!--<a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                            <a data-placement="top" class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
                            <a data-placement="top" class="btn btn-info  btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a>-->
                            {% if order.status == 'd' or order.status == 'You cancelled the order' or order.status == 'a' %}
                                <br />
                            {% else %}
                                <a data-placement="top" class="btn btn-warning btn-xs" href="/cancelorder/{{order.id}}/" title="Cancel"><i class="fa fa-trash" style="color: white;"></i></a>
                            {% endif %}
                        </div> <!--Rating sys-->
                        <div class="col-md-12">
                            order made on: {{order.timestamp}} by <a href="#">{{order.username}} </a> <!--Conncet to usr profile-->
                        </div>
                        </div>
                    </div>
            </div>
        {% endfor %}

    {% endif %}

    </div>
           
    </div>        
    </div>
    
    <!--Footer area start-->
    <footer class="footer">
        <p> <br>
            <i class="fab fa-pinterest-p" style="color: #f1c40f; font-size: 30px;"></i>Pepperonizza v 0.1b <br>
            Follow us <br>
                <a href="http://www.example.com/" target="_blank"><i class="fab fa-twitter" style="color: white; font-size: 20px;"></i></a>
                <a href="http://www.example.com/" target="_blank"><i class="fab fa-facebook-f" style="color: white; font-size: 20px;"></i></a>
                <a href="http://www.example.com/" target="_blank"><i class="fab fa-instagram" style="color: white; font-size: 20px;"></i></a>
                <a href="https://github.com/Z-crete19/Online-Pizza-Ordering" target="_blank"><i class="fab fa-github" style="color: white; font-size: 20px;"></i></a>
                <a href="http://www.example.com/" target="_blank"><i class="fab fa-discord" style="color: white; font-size: 20px;"></i></a>
                <a href="http://www.example.com/" target="_blank"><i class="fab fa-youtube" style="color: white; font-size: 20px;"></i></a>
                <a href="http://www.example.com/" target="_blank"><i class="fab fa-telegram-plane" style="color: white; font-size: 20px;"></i></a> <br>
                <a href="/privacy/" target="_blank">Privacy Policy</a> | <a href="/terms/" target="_blank">Terms & Conditions</a> <br>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="#"
                    target="_blank">Pepperonizza.com</a> 
        </p>
    </footer>
    <!--Footer area end-->
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
    <script type="text/Javascript">

        function show() {
            var z = document.getElementById("hide1");

            z.style.display = "block";
        }

        function hide() {
                var y = document.getElementById("hide1");

                y.style.display = "none";
        }

        $(window).scroll(function(){  
            if ($(this).scrollTop()) {
                $('#ftco-navbar').addClass("fixed-top");
            }
            else{
                $('#ftco-navbar').removeClass("fixed-top");
            } 
        }); 

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    
    
</body>
</html>



